version: 2

ruby_defaults: &ruby_defaults
  working_directory: ~/repo
  docker:
    - image: circleci/ruby:2.4.2
  environment:
    BUNDLE_PATH: ~/repo/vendor/bundle

jobs:
  dependencies:
    <<: *ruby_defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - rubygems-v1-{{ checksum "Gemfile.lock" }}
            - rubygems-v1-fallback
      - run:
          name: Bundle Install
          command: bundle install
      - save_cache:
          key: rubygems-v1-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

  build:
    <<: *ruby_defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - rubygems-v1-{{ checksum "Gemfile.lock" }}
            - rubygems-v1-fallback
      - run:
          name: Jekyll build
          command: bundle exec jekyll build
      - persist_to_workspace:
          root: ./
          paths:
            - ./_site
            - ./.firebaserc
            - ./firebase.json

  test_html:
    <<: *ruby_defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - rubygems-v1-{{ checksum "Gemfile.lock" }}
            - rubygems-v1-fallback
      - run:
          name: Test
          command: bundle exec rake test_html

  test_files:
    <<: *ruby_defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - rubygems-v1-{{ checksum "Gemfile.lock" }}
            - rubygems-v1-fallback
      - run:
          name: Test
          command: bundle exec rake test_files

  test_posts:
    <<: *ruby_defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - rubygems-v1-{{ checksum "Gemfile.lock" }}
            - rubygems-v1-fallback
      - run:
          name: Test
          command: bundle exec rake test_posts

  download_docs:
    <<: *ruby_defaults
    steps:
      - run: mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
      - run: pwd
      - run: ls -lash
      - run: git clone git@github.com:ePages-de/epages-docs.git -b master
      - run: cd epages-docs
      - run: bundle install
      - run: bundle exec jekyll build
      - run: bundle exec rake test


  # deploy_firebase:
  #   docker:
  #     - image: circleci/node:6.10.3
  #   steps:
  #     - attach_workspace:
  #         at: ./
  #     - run:
  #         name: Install Firebase tools
  #         command: npm install --save-dev firebase-tools
  #     - run:
  #         name: Deploy to Firebase
  #         command: ./node_modules/.bin/firebase deploy --token=$FIREBASE_TOKEN --non-interactive
  #
  # deploy_aws:
  #   <<: *defaults
  #   environment:
  #     S3_BUCKET_NAME: staging.developer.epages.com
  #   docker:
  #     - image: circleci/python:3.6.3
  #   steps:
  #     - attach_workspace:
  #         at: ./
  #     - run:
  #         name: Install AWS CLI
  #         command: pip install awscli --upgrade --user
  #     - run:
  #         name: Download epages-docs
  #         command: |
  #           ~/.local/bin/aws s3 sync s3://$S3_BUCKET_NAME ./_site --exclude "about/*" \
  #                                                                 --exclude "api/*" \
  #                                                                 --exclude "beyond-essence/*" \
  #                                                                 --exclude "blog/*" \
  #                                                                 --exclude "devjobs/*" \
  #                                                                 --exclude "api/*" \
  #                                                                 --exclude "assets/css/*" \
  #                                                                 --exclude "assets/fonts/*" \
  #                                                                 --exclude "assets/img/*" \
  #                                                                 --exclude "assets/js/*" \
  #                                                                 --exclude "assets/slick/*" \
  #                                                                 --exclude "404.html" \
  #                                                                 --exclude "index.html"
  #     - run:
  #         name: Deploy to S3
  #         command: ~/.local/bin/aws s3 sync ./_site s3://$S3_BUCKET_NAME/ --size-only --delete --acl public-read
  #
  #     - persist_to_workspace:
  #         root: ./
  #         paths:
  #           - ./_site
  #           - ./.firebaserc
  #           - ./firebase.json

workflows:
  version: 2
  build_test_deploy:
    jobs:
      # - dependencies
      # - build:
      #     requires:
      #       - dependencies
      # - test_html:
      #     requires:
      #       - build
      # - test_files:
      #     requires:
      #       - build
      # - test_posts:
      #     requires:
      #       - build
      - download_docs:
          # requires:
          #   - test_html
          #   - test_files
          #   - test_posts
          filters:
            branches:
              only: staging
      # - deploy_firebase:
      #     requires:
      #       - deploy_aws
      #     filters:
      #       branches:
      #         only: master
      #
