version: 2

devportal_defaults: &devportal_defaults
  working_directory: ~/repo
  docker:
    - image: circleci/ruby:2.4.2
  environment:
    BUNDLE_PATH: ~/repo/vendor/bundle

docs_defaults: &docs_defaults
  working_directory: ~/repo
  docker:
    - image: circleci/ruby:2.4.1
  environment:
    BUNDLE_PATH: ~/repo/vendor/bundle

jobs:
  build_test_devportal:
    <<: *devportal_defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - devportal-rubygems-v1-{{ checksum "Gemfile.lock" }}
            - devportal-rubygems-v1-fallback
      - run:
          name: Bundle Install
          command: bundle install
      - save_cache:
          key: devportal-rubygems-v1-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run:
          name: Jekyll build
          command: bundle exec jekyll build
      - run:
          name: Test
          command: bundle exec rake test_ci
      - persist_to_workspace:
          root: ./
          paths:
            - ./_site
            - ./.firebaserc
            - ./firebase.json

  build_test_docs:
    <<: *docs_defaults
    steps:
      - run: mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
      - run:
          name: Download ePages Docs
          command: git clone git@github.com:ePages-de/epages-docs.git ~/repo -b master
      - restore_cache:
          keys:
            - docs-rubygems-v1-{{ checksum "Gemfile.lock" }}
            - docs-rubygems-v1-fallback
      - run:
          name: Bundle Install
          command: bundle install
      - save_cache:
          key: docs-rubygems-v1-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run:
          name: Jekyll build
          command: bundle exec jekyll build
      - run:
          name: Test
          command: bundle exec rake test_ci
      - run:
          name: Update folder name
          command: mv _site _docs
      - persist_to_workspace:
          root: ./
          paths:
            - ./_docs

  combine_projets:
    working_directory: ~/repo
    docker:
      - image: circleci/buildpack-deps:18.10
    steps:
      - attach_workspace:
          at: ./
      - run: rsync -abviuzP _docs/ _site/
      - run: ls -lash _site
      - run: ls -lash _site/assets

  deploy_firebase:
    docker:
      - image: circleci/node:6.10.3
    steps:
      - attach_workspace:
          at: ./
      - run: sudo apt-get -y install rsync
      - run:
          name: Install Firebase tools
          command: npm install --save-dev firebase-tools
      - run:
          name: Deploy to Firebase
          command: ./node_modules/.bin/firebase deploy --token=$FIREBASE_TOKEN --non-interactive


workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build_test_devportal
      - build_test_docs:
          filters:
            branches:
              only: staging
      - combine_projets:
          requires:
            - build_test_devportal
            - build_test_docs
          filters:
            branches:
              only: staging
